.regresar{
color: #ffff;
font-size: 25px;
}
ion-textarea{
    --color: blue;
}

.myChat{
    background: rgb(19, 138, 45);
    color :white;
    
    
}
   

.otherChat{
    background: rgb(26, 64, 167);
    color : white;
    
    }

